{% extends 'base.html' %}
{% load static %}


{% block content %}


<div class="col d-flex justify-content-center">
<div class="card" style="width: 100rem;">
    <img style="align-items: center; padding: 20px;" src="{% static 'images/NN.jpg' %}"    height="300" width="200" class="card-img-top" alt="hello world">
    <div class="card-body">
      <h5 class="card-title" style="font-size:30px;">Nanotechnonology</h5>
      <p  style="font-size:20px; margin-top: 10px;" class="card-text">Nanotechnology is science, engineering, and technology conducted at the nanoscale, which is about 1 to 100 nanometers.Physicist Richard Feynman, the father of nanotechnology.Nanoscience and nanotechnology are the study and application of extremely small things and can be used across all the other science fields, such as chemistry, biology, physics, materials science, and engineering.Nanoscience and nanotechnology involve the ability to see and to control individual atoms and molecules. Everything on Earth is made up of atoms—the food we eat, the clothes we wear, the buildings and houses we live in, and our own bodies. But something as small as an atom is impossible to see with the naked eye. In fact, it’s impossible to see with the microscopes typically used in a high school science classes. The microscopes needed to see things at the nanoscale were invented in the early 1980s.</p>
      
    </div>
  </div>

</div>

{% endblock %}

